@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
internship-section .timeline .timeline-item.center {
  left: 10%;
  padding-right: 60px;
}

@media (max-width: 1934.98px) {
  .internship-section .timeline .timeline-item.center {
      left: 20%;
      padding-right: 70px;
  }
}
.internship-section .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 1934.98px) {
  .internship-section .timeline .timeline-item {
      position: relative;
      background: inherit;
      width: 100%;
      margin-bottom: 30px;
  }
}
@media (max-width: 1934.98px) {
  .internship-section .timeline .timeline-item {
      position: relative;
      background: inherit;
      width: 100%;
      margin-bottom: 30px;
  }
}
@media (min-width: 868px) and (max-width: 991.98px) {
}


@media only screen and (max-width: 767.98px) {
  .firstSection .leftSection, .firstSection .rightSection {
      margin: 50px 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .firstSection {
      margin: 100px 0;
      padding: 0 10px;
  }
}
@media (max-width: 767.98px) {
  .firstSection {
      flex-direction: column;
      text-align: center;
  }

  .firstSection .leftSection,
  .firstSection .rightSection {
      width: 100%;
      margin: 20px 0px;
  }
  @media only screen and (max-width: 767.98px) {
    .leftSection {
        margin: 45px 0;
    }
}
}
.left{
  margin-right: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.firstSection {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: white; 
  color: #040404;
  margin: 100px 0;
  display: center;
  margin-bottom: auto;
  
}
*, ::after, ::before {
  box-sizing: border-box;
}
.firstSection div{
  width: 40%;              
}

.leftSection{
font-size: 2.5rem;
margin: 45px 0;  
}
.rightSection{
width: 100%;
}
.rightSection img {
background-color: hsl(32, 100%, 50%);
width: 100%;
} /* height lenth */      
.btn-outline-lg {

background-color: #007bff;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
font-size: 14px;
}
.btn-solid-lg {
background-color: hsl(32, 100%, 50%);
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
font-size: 14px;
}
.leftSection h1 p {
white-space: nowrap; 
}
.leftSection h1 h5 p{
font-family: "Poppins", sans-serif;
}
.color{
color: #007bff;
}
.typed {
color: hsl(32, 100%, 50%);
}
p{
font-size: 25px;
}
.small-text {
font-size: 20px;
}
.first{
max-width: 80vw;
margin: auto;
}
.second{
max-width: 80vw; 
margin: auto;

}
section {
  padding: 90px 0;
  overflow: hidden;
}
/*-------------------------------------
    1.  Education
--------------------------------------*/

.education-item h2{
font-weight: 700;
font-size: 26px;
color: #173b6c;
text-align: center;
margin-bottom: 30px;
position: relative;
margin-top: 30px;

}
.education {
position: relative;
padding: 40px 0 15px 0;
height: 50vw;

}
.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
}
.h2-tag{
color: #007bff;
}
.education-item h2::after {
content: '';
position: absolute;
bottom: -2px;
left: 50%;
transform: translateX(-50%);
width: 60px; 
height: 2px;
background-color: #1594c7; 
}
.education .timeline {
position: relative;
width: 100%;
}

.education .timeline::after {
content: '';
position: absolute;
width: 2px;
background: hsl(32, 100%, 50%);
top: 0;
bottom: 0;
left: 50%;
margin-left: -1px;
}

.education .timeline .timeline-item {
position: relative;
background: inherit;
width: 50%;
margin-bottom: 30px;
}

.education .timeline .timeline-item.left {
left: 0;
padding-right: 30px;
}

.education .timeline .timeline-item.right {
left: 50%;
padding-left: 30px;
}

.education .timeline .timeline-item::after {
content: '';
position: absolute;
width: 16px;
height: 16px;
top: 48px;
right: -8px;
background: #ffffff;
border: 2px solid hsl(32, 100%, 50%);
border-radius: 16px;
z-index: 1;
}

.education .timeline .timeline-item.right::after {
left: -8px;
}

.education .timeline .timeline-item::before {
content: '';
position: absolute;
width: 0;
height: 0;
top: 46px;
right: 10px;
z-index: 1;
border: 10px solid;
border-color: transparent transparent transparent #dddddd;
}

.education .timeline .timeline-item.right::before {
left: 10px;
border-color: transparent #dddddd transparent transparent;
}

.education .timeline .timeline-date {
position: absolute;
width: 100%;
top: 44px;
font-size: 16px;
font-weight: 600;
color: hsl(29, 86%, 54%);
text-transform: uppercase;
letter-spacing: 1px;
z-index: 1;
}

.education .timeline .timeline-item.left .timeline-date {
text-align: left;
left: calc(100% + 55px);
}

.education .timeline .timeline-item.right .timeline-date {
text-align: right;
right: calc(100% + 55px);
}

.education .timeline .timeline-text {
padding: 30px;
background: #ffffff;
position: relative;
border-right: 5px solid #dddddd;
box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.education .timeline .timeline-item.right .timeline-text {
border-right: none;
border-left: 5px solid #dddddd;
}

.education .timeline .timeline-text h2 {
margin: 0 0 5px 0;
font-size: 22px;
font-weight: 600;
}

.education .timeline .timeline-text h4 {
margin: 0 0 10px 0;
font-size: 16px;
font-style: italic;
font-weight: 400;
}

.education .timeline .timeline-text p {
margin: 0;
font-size: 16px;
}

@media (max-width: 767.98px) {
.education .timeline::after {
  left: 8px;
}

.education .timeline .timeline-item {
  width: 100%;
  padding-left: 38px;
}

.education .timeline .timeline-item.left {
  padding-right: 0;
}

.education .timeline .timeline-item.right {
  left: 0%;
  padding-left: 38px;
}

.education .timeline .timeline-item.left::after, 
.experience .timeline .timeline-item.right::after {
  left: 0;
}

.education .timeline .timeline-item.left::before,
.education .timeline .timeline-item.right::before {
  left: 18px;
  border-color: transparent #dddddd transparent transparent;
}

.education .timeline .timeline-item.left .timeline-date,
.education .timeline .timeline-item.right .timeline-date {
  position: relative;
  top: 0;
  right: auto;
  left: 0;
  text-align: left;
  margin-bottom: 10px;
}

.education .timeline .timeline-item.left .timeline-text,
.education .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}
}


/*-------------------------------------
    2.  Skills
--------------------------------------*/
.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
}
.skill-content{
padding-bottom: 30px;
}
.skill-section{
height: 40vh;
}
.single-skill-content{padding-top: 0px;}
.section-heading h2 {
font-size: 24px;
font-weight: 600;
text-transform: uppercase;
padding-bottom: 10px;
border-bottom: 1px solid #e5ebf2;
text-align: center;
margin-top: 40px;
}
.section-heading h2 {
font-weight: 700;
font-size: 26px;
color: #173b6c;
text-align: center;
position: relative;
}

.section-heading h2::after {
content: '';
position: absolute;
bottom: -2px;
left: 50%;
transform: translateX(-50%);
width: 80px; 
height: 2px;
background-color: #1594c7; 
}
.single-progress-txt {
display: flex;
font-size: medium;

}
.single-progress-txt h3 {
width: 3%;
color: hsl(41, 100%, 50%);
position: relative;
top: 4px;
left: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.barWrapper {
font-weight: 400;
font-size: 16px;
text-transform: uppercase;
}
.progress {
border-radius:3px;
overflow: visible;
background: hsl(40, 3%, 82%);
height:8px;
margin-top: 15px;
width: 85%;
margin-bottom: 37px;
}
.progress-bar {
background: hsl(245, 100%, 61%);
border-radius: 3px;
-webkit-transition: width 1.5s ease-in-out;
-ms-transition: width 1.5s ease-in-out;
-moz-transition: width 1.5s ease-in-out;
-o-transition: width 1.5s ease-in-out;
transition: width 1.5s ease-in-out;
}
.tooltip{
position:relative;
float:right;
}
.tooltip > .tooltip-inner {
background-color: transparent;
padding: 1px 5px;
color: hsl(32, 100%, 50%);
font-weight: 500;
font-size: 12px;
border-radius: 0;
}
.popOver + .tooltip > .tooltip-arrow {
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #fff;
bottom: -1px;
transform: translateX(-50%);
margin-left: 0;
}
.icon{
margin-right: 8px;
}

/*-------------------------------------
    3.  Internship Experience
--------------------------------------*/
#experience {
padding: 10px 0;
margin:0 0 10px;

}
.internship-container{
display: flex;
justify-content: center;
align-items: center;
height: 100vw;

}
.internship-section {
display: center;
justify-content: center; 
align-items: center; 
height: 100vh; 
width:100%
}
.internship-section .education-item h2 {
/* Apply styles for the section title */
font-weight: 700;
font-size: 26px;
color: #173b6c;
text-align: center;
margin-bottom: 100px;
position: relative;
margin-top: 50px;
}

.internship-section .timeline {
position: relative;
width: 100%;
}
@media (max-width: 1934.98px) {
.internship-section .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 100%;
  margin-bottom: 30px;
}
}

.internship-section .timeline .timeline-item {
position: relative;
background: inherit;
width: 50%;
margin-bottom: 30px;
}

.internship-section .timeline .timeline-item.center {
left: 30%;
padding-right: 60px;
}

.internship-section .timeline .timeline-item.right {
left: 100px;
}

.internship-section .timeline .timeline-text {
padding: 30px;
background: #ffffff;
position: relative;
border-right: 5px solid #dddddd;
box-shadow: 0 0 60px hwb(203 49% 24% / 0.875);
}

.internship-section .timeline .timeline-item.right .timeline-text {
border-right: none;
border-left: 5px solid #dddddd;
}

.internship-section .timeline .timeline-text h2 {
margin: 0 0 5px 0;
font-size: 22px;
font-weight: 600;
text-align: center;
color: hsl(0, 0%, 0%);
}

.internship-section .timeline .timeline-text h4 {
margin: 0 0 10px 0;
font-size: 16px;
font-style: italic;
font-weight: 400;
text-align: center;
}

.internship-section .timeline .timeline-text p {
margin: 0;
font-size: 17px;
text-align: center;

}

/*-------------------------------------
    4.  Projects
--------------------------------------*/
#projects {
padding: 10px 0;
margin:0 0 5px;
}

#projects .sub-title {
text-align: center;
}

.project-list {
display: flex;
justify-content: space-between;
margin: 5px 15px 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.col1 {
flex-basis: 55%;
}

.col1 .title h4 {
text-align: center;
padding: 10px;
margin-bottom: 20px;
font-size: 25px;
}

.title {
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-weight: 700;

}

.title a {
color: #7f00ff;
background: white;
font-size: 20px;
border-radius: 50%;
padding: 10px;
margin-bottom: 20px;
}

.col1 p {
text-align: center;
font-size: 20px;
}

.col2 {
flex-basis: 40%;
position: relative;
overflow: hidden;
transform: height 0.5s;
margin: 10px 20px 0;
padding-bottom: 5px;
margin-bottom: 0px;
}
.col1{
margin-bottom: 0;
}
.col2 .image1 {
width: 100%;
height: 100%;
border-radius: 20px;
}

.layer {
width: 100%;
height: 0%;
background: linear-gradient(rgba(0,0,0,0.6), #b4854d);
border-radius: 20px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
transition: height 0.5s;
}

.layer a {
color: #b4854d;
background: white;
font-size: 15px;
border-radius: 50%;
padding: 10px;
margin-top: 10px;
}

.col2:hover .layer {
height: 100%;
}
#projects h2{
font-weight: 700;
font-size: 26px;
color: #173b6c;
text-align: center;
position: relative;
margin-top: 96px;
}
/* Media query for mobile devices */
@media only screen and (min-width: 768px) {
    /* Adjust styles for screens larger than 768px */
    .right ul {
      flex-direction: row; 
    }
    
    .right ul li {
      margin: 0 10px; 
    }
  }

/* Media query for screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 767.98px) {
    /* Adjustments for smaller screens */
    .firstSection {
        margin: 50px 0; /* Reduced margin */
        padding: 0 10px; /* Adjusted padding */
    }

    .firstSection .leftSection,
    .firstSection .rightSection {
        margin: 50px 0; /* Reduced margin */
    }
    .education {
        height: auto; /* Set height to auto for content to expand */
    }
    .education-item h2 {
        font-size: 20px; /* Adjusted font size */
    }

    .education .timeline .timeline-item {
        width: calc(100% - 20px); /* Adjusted width for full width with padding */
        padding: 0 10px; /* Added padding */
        margin-bottom: 20px; /* Reduced margin */
    }

    .education .timeline .timeline-text {
        padding: 15px; /* Adjusted padding */
    }

    .education .timeline .timeline-text h2 {
        font-size: 16px; /* Adjusted font size */
    }

    .education .timeline .timeline-text h4 {
        font-size: 12px; /* Adjusted font size */
    }

    .education .timeline .timeline-text p {
        font-size: 14px; /* Adjusted font size */
    }

    .internship-section .education-item h2 {
        font-size: 20px; /* Adjusted font size */
    }

    .education .timeline::after {
        left: 10px; /* Adjusted left position */
    }

    .education .timeline .timeline-item.left .timeline-text,
    .education .timeline .timeline-item.right .timeline-text {
        margin-left: 0; /* Removed left margin */
    }

    .education .timeline .timeline-item.left .timeline-date,
    .education .timeline .timeline-item.right .timeline-date {
        left: 0; /* Adjusted left position */
        text-align: center; /* Align text to the left */
    }

    .education .timeline .timeline-item.left::before,
    .education .timeline .timeline-item.right::before {
        left: 10px; /* Adjusted left position */
    }
    .container, .container-fluid {
        padding-left: 30px;         /* this education section  */
        padding-right: 10px;
    }
    #projects .col1 .title h4 {
        font-size: 20px; /* Adjusted font size */
    }

    #projects .col1 p {
        font-size: 16px; /* Adjusted font size */
    }
}
/* Adjustments for Internship Experience section on mobile devices */
@media only screen and (max-width: 767.98px) {
    .internship-section {
        text-align: center; /* Center-align content */
    }

    .internship-section .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .internship-section .timeline .timeline-item {
        width: 100%; /* Adjusted width for full width */
        margin-bottom: 20px; /* Reduced margin */
        text-align: center; /* Center-align text */
        left: auto; /* Reset left alignment */
    }

    .internship-section .timeline .timeline-item.center {
        padding-right: 0px; /* Reset padding */
    }

    .internship-section .timeline .timeline-text {
        padding: 20px; /* Adjusted padding top */
    }

    .internship-section .timeline .timeline-text h2 {
        font-size: 16px; /* Adjusted font size */
    }

    .internship-section .timeline .timeline-text h4 {
        font-size: 14px; /* Adjusted font size */
    }

    .internship-section .timeline .timeline-text p {
        font-size: 14px; /* Adjusted font size */
    }
}
@media only screen and (max-width: 767.98px) {
    .internship-section .timeline-text {
        text-align: center; /* Center-align text within the timeline-text div */
        margin-right: 200px;
        margin-left: 0px;
    }
}

/*-------------------------------------
    3.  Internship Experience
--------------------------------------*/
#experience {
  padding: 10px 0;
  margin:0 0 10px;
  
  }
  .internship-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  
  }
  .internship-section {
  display: center;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width:100%
  }
  .internship-section .education-item h2 {
  /* Apply styles for the section title */
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 0px;
  }
  
  .internship-section .timeline {
  position: relative;
  width: 100%;
  }
  @media (max-width: 1934.98px) {
  .internship-section .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 100%;
    margin-bottom: 30px;
  }
  }
  
  .internship-section .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
  }
  .internship-section .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 50px solid #dddddd;
    box-shadow: 0 0 60px hwb(203 49% 24% / 0.875);
  }
  .internship-section .timeline .timeline-item.center {
  left: 25%;
  padding-right: 0px;
  }
  
  .internship-section .timeline .timeline-item.right {
  left: 50px;
  }
  
  .internship-section .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 0 0 60px hwb(203 49% 24% / 0.875);
  }
  
  
  
  .internship-section .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 0%);
  }
  
  .internship-section .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  }
  
  .internship-section .timeline .timeline-text p {
  margin: 0;
  font-size: 17px;
  text-align: center;
  
  }