.left{
  margin-right: 10px;
}


.firstSection {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: white; 
  color: #040404;
  margin: -10 0;
  margin-bottom: auto;
  
}


.firstSection div{
  width: 35%;
  margin: 4px 0;
  padding: 30px;
  background: hwb(0 6% 94%);
  position: relative;
  border-right:  5px solid hwb(308 7% 36%);
  box-shadow: 2px 2px 6px 1px var(--firstsection-shadowcolor);
  border-radius: 30px;              
}

.leftSection{
font-size: 2.5rem;
margin: 45px 0; 
margin: 45px 0;
padding: 30px;
background: hwb(134 6% 9%);
position: relative;
border-right: 5px solid #dddddd;
box-shadow: 2px 2px 6px 1px var(--internship-shadowcolor);
border-radius: 30px;
} 
.rightSection{
width: 100%;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 80%;
    /* box-shadow: 1px 1px 6px 2px black; */
    padding: 13rem 8rem;
    margin-left: 0%;
    background-color: rgb(54, 49, 49);
    border-top: 12px solid var(--border-color);
    border-bottom: 12px solid var(--border-color);
    border-top-left-radius: 50% 90%;
    border-bottom-right-radius: 40% 70%;
    color: white;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;
}
.rightSection img {
background-color: hsl(32, 100%, 50%);
width: 100%;
} /* height lenth */
      
.btn-outline-lg {

background-color: #007bff;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
font-size: 14px;
}
.btn-solid-lg {
background-color: hsl(32, 100%, 50%);
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
font-size: 14px;
}
.leftSection h1 p {
white-space: nowrap; 
}
.leftSection h1 h5 p{
font-family: "Poppins", sans-serif;
}
.color{
color: #007bff;
}
.typed {
color: hsl(32, 100%, 50%);
font-size: 22px;
}
p{
font-size: 25px;
}
.small-text {
font-size: 20px;
}
.first{
max-width: 80vw;
margin: auto;
}
.second{
max-width: 80vw; 
margin: auto;

}
section {
  padding: 90px 0;
  overflow: hidden;
}
#about-content{
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 58%;
    /* box-shadow: 1px 1px 6px 2px black; */
    padding: 10rem 9rem;
    margin-left: -0%;
    background-color: #181816;
    border-top: 12px solid var(--border-color);
    border-bottom: 12px solid var(--border-color);
    border-top-left-radius: 65% 30%;
    border-bottom-right-radius: 50% 40%;
    color: white;
}
@media (max-width: 1030px) {
  .about-content {
      padding: 0px;
      width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
#about-content {
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 75%;
  box-shadow: 5px 5px 6px 5px black;
  background-color: #181816;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-top-left-radius: 1% 1%;
  border-bottom-right-radius: 1% 1%;
  color: white;
  border-width: initial;
  margin-top: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 13px;
}
}
@media only screen and (max-width: 767.98px) {
  .firstSection .leftSection, .firstSection .rightSection {
      margin: 50px 0;
  }
}


@media only screen and (max-width: 767.98px) {
  .firstSection {
      margin: 100px 0;
      padding: 0 10px;
  }
}
@media (max-width: 767.98px) {
  .firstSection {
      flex-direction: column;
      text-align: center;
  }

  .firstSection .leftSection,
  .firstSection .rightSection {
      width: 70%;
      margin: 20px 0px;
  }
}
@media (max-width: 1024px) {
  .header {
      padding: 2rem 3%;
  }
}
@media only screen and (max-width: 767.98px) {
  .firstSection {
      margin: 100px 0;
  }
}
/*-------------------------------------
    1.  Education
--------------------------------------*/

.education-item h2{
font-weight: 700;
font-size: 2.5rem;
color: #173b6c;
text-align: center;
margin-bottom: 30px;
position: relative;
margin-top: 56px;
font-weight: 700;
margin-right: 10px;
}

.education {
position: relative;
padding: 40px 0 15px 0;
height: 50vw;

}
.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
}
.h2-tag{
color: #007bff;
}
.education-item h2::after {
content: '';
bottom: -2px;
left: 50%;
transform: translateX(-50%);
width: 100px; 
height: 2px;
background-color: #1594c7; 
}
.education .timeline {
position: relative;
width: 100%;
}

.education .timeline::after {
content: '';
position: absolute;
width: 2px;
background: hsl(32, 100%, 50%);
top: 0;
bottom: 0;
left: 50%;
margin-left: -1px;
}

.education .timeline .timeline-item {
position: relative;
background: inherit;
width: 50%;
margin-bottom: 30px;
}

.education .timeline .timeline-item.left {
left: 0;
padding-right: 30px;
}

.education .timeline .timeline-item.right {
left: 50%;
padding-left: 30px;
}

.education .timeline .timeline-item::after {
content: '';
position: absolute;
width: 16px;
height: 16px;
top: 48px;
right: -8px;
background: #ffffff;
border: 2px solid hsl(32, 100%, 50%);
border-radius: 16px;
z-index: 1;
}

.education .timeline .timeline-item.right::after {
left: -8px;
}

.education .timeline .timeline-item::before {
content: '';
position: absolute;
width: 0;
height: 0;
top: 46px;
right: 10px;
z-index: 1;
border: 10px solid;
border-color: transparent transparent transparent #dddddd;
}

.education .timeline .timeline-item.right::before {
left: 10px;
border-color: transparent #dddddd transparent transparent;
}

.education .timeline .timeline-date {
position: absolute;
width: 100%;
top: 44px;
font-size: 16px;
font-weight: 600;
color: hsl(29, 86%, 54%);
text-transform: uppercase;
letter-spacing: 1px;
z-index: 1;
}

.education .timeline .timeline-item.left .timeline-date {
text-align: left;
left: calc(100% + 55px);
}

.education .timeline .timeline-item.right .timeline-date {
text-align: right;
right: calc(100% + 55px);
}

.education .timeline .timeline-text {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  text-align: center;
  border-top: .6rem solid var(--about-border-color);
  border-bottom: .6rem solid var(--about-border-color);
  border-left: 1px dotted var(--border-color);
  border-right: 1px dotted var(--border-color);
  transition: .5s ease;
  height: 160px;
}
:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: linear-gradient(to bottom, rgb(194, 6, 109) 40%, rgb(223, 19, 203) 60%, rgb(211, 13, 165));
  --main-color1: linear-gradient(to bottom, rgb(235, 55, 154) 40%, rgb(169, 36, 156) );
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
  --border-color: #c20696;
  --about-border-color:rgb(194, 5, 106);
  --skills-shadowcolor: rgb(227, 28, 64);
  --skills-bordercolor: white;
  --internship-shadowcolor: rgb(194, 6, 125);
  --firstsection-shadowcolor:#f60aa3;

}
.education .timeline .timeline-item.right .timeline-text {
border-right: none;
border-left: 5px solid #dddddd;
}

.education .timeline .timeline-text h2 {
margin: 0 0 5px 0;
font-size: 22px;
font-weight: 600;
margin-top: -30px;
margin-left: -100px;
}

.education .timeline .timeline-text h4 {
margin: 0 0 10px 0;
font-size: 16px;
font-style: italic;
font-weight: 400;
}

.education .timeline .timeline-text p {
margin: 0;
font-size: 16px;
}
@media (max-width: 767.98px) {
.education .timeline::after {
  left: 8px;
}

.education .timeline .timeline-item {
  width: 100%;
  padding-left: 38px;
}

.education .timeline .timeline-item.left {
  padding-right: 0;
}

.education .timeline .timeline-item.right {
  left: 0%;
  padding-left: 38px;
}

.education .timeline .timeline-item.left::after, 
.experience .timeline .timeline-item.right::after {
  left: 0;
}

.education .timeline .timeline-item.left::before,
.education .timeline .timeline-item.right::before {
  left: 18px;
  border-color: transparent #dddddd transparent transparent;
}

.education .timeline .timeline-item.left .timeline-date,
.education .timeline .timeline-item.right .timeline-date {
  position: relative;
  top: 0;
  right: auto;
  left: 0;
  text-align: left;
  margin-bottom: 10px;
}

.education .timeline .timeline-item.left .timeline-text,
.education .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}
}
.responsive-img {
  display: block;
  max-width: 110px;
  height: auto;
  top: -30px;
  position: relative;
}
@media only screen and (max-width: 767.98px) {
  .responsive-img{
    display: block;
    max-width: 80px; /* Adjust the size for mobile devices */
    top: -0px; /* Reset the position */
    position: relative;
    margin: 0 auto; /* Center the image on smaller screens */
  }
  .education .timeline .timeline-item:nth-child(2) .responsive-img {
    max-height: 80px;
    image-rendering: auto; 
    margin-top: 40px;/* Adjust the size for the second image on mobile */
  }
  .education .timeline .timeline-item:nth-child(3) .responsive-img { 
    margin-top: 30px;/* Adjust the size for the second image on mobile */
  }

  .education .timeline .timeline-item.left div[style*="float: right"],
  .education .timeline .timeline-item.right div[style*="float: right"] {
    float: none;
    text-align: center;
    margin-right: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .education .timeline .timeline-item:nth-child(2) .timeline-text h2 {
    font-size: 15px;
  }
  .education .timeline .timeline-item:nth-child(1) .timeline-text h2 {
    font-size: 15px;
  }
  .education .timeline .timeline-item:nth-child(3) .timeline-text h2 {
    font-size: 15px;
  }

}
.education .timeline .timeline-item:nth-child(3) .timeline-text h2 {
  font-size: 22px;
}
@media only screen and (max-width: 767.98px) {
  .education .timeline .timeline-item:nth-child(3) .timeline-text h2 {
    font-size: 15px;
  }
}
/*-------------------------------------
    2.  Skills
--------------------------------------*/
.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
}
.skill-content{
padding-bottom: 30px;
}
#skills.skils{
  padding-top: 10px;
}
.skill-section{
height: 30vh;
}
.single-skill-content{padding-top: 20px;}
#skills.skills{
  padding: 0px 0;
  overflow: hidden;

}
.section-heading h2 {
font-size: 30px;
font-weight: 600;
text-transform: uppercase;
padding-bottom: 10px;
border-bottom: 1px solid #e5ebf2;
margin-top: 120px;
}
.section-heading h2 {
font-weight: 700;
color: #173b6c;
text-align: center;
position: relative;
}

.section-heading h2::after {
content: '';
position: absolute;
bottom: -2px;
left: 50%;
transform: translateX(-50%);
width: 80px; 
height: 2px;
background-color: #1594c7; 
}
.single-progress-txt {
display: flex;
font-size: medium;

}
.single-progress-txt h3 {
width: 3%;
color: hsl(41, 100%, 50%);
position: relative;
top: 4px;
left: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
  display: block;
  unicode-bidi: isolate;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.barWrapper {
font-weight: 400;
font-size: 16px;
text-transform: uppercase;
}
.progress {
border-radius:3px;
overflow: visible;
background: hsl(40, 3%, 82%);
height:8px;
margin-top: 15px;
width: 85%;
margin-bottom: 37px;
}
.progress-bar {
background: #d50c85;
border-radius: 3px;
-webkit-transition: width 1.5s ease-in-out;
-ms-transition: width 1.5s ease-in-out;
-moz-transition: width 1.5s ease-in-out;
-o-transition: width 1.5s ease-in-out;
transition: width 1.5s ease-in-out;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: rgb(65, 20, 214);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress, .progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: var(--bs-secondary-bg);
  --bs-progress-border-radius: var(--bs-border-radius);
  --bs-progress-box-shadow: var(--bs-box-shadow-inset);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}
.tooltip{
position:relative;
float:right;
}
.tooltip > .tooltip-inner {
background-color: transparent;
padding: 1px 5px;
color: hwb(230 0% 0%);
font-weight: 500;
font-size: 12px;
border-radius: 0;
}
.popOver + .tooltip > .tooltip-arrow {
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #fff;
bottom: -1px;
transform: translateX(-50%);
margin-left: 0;
}
.icon{
margin-right: 8px;
}



/*-------------------------------------
    3.  Internship Experience
--------------------------------------*/
#experience {
  padding: 10px 0;
  margin:0 0 10px;
  
  }
  .internship-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  
  }
  .internship-section {
  display: center;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width:100%
  }
  .internship-section .education-item h2 {
  /* Apply styles for the section title */
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 40px;
  }
  
  .internship-section .timeline {
  position: relative;
  width: 100%;
  }
  @media (max-width: 1934.98px) {
    .internship-section .timeline .timeline-item.center {
        left: 20%;
        padding-right: 70px;
    }
  }
  .internship-section .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 100%;
    margin-bottom: 30px;
  }
  @media (max-width: 1934.98px) {
    .internship-section .timeline .timeline-item {
        position: relative;
        background: inherit;
        width: 100%;
        margin-bottom: 30px;
    }
  }
  @media (max-width: 1934.98px) {
    .internship-section .timeline .timeline-item {
        position: relative;
        background: inherit;
        width: 100%;
        margin-bottom: 30px;
    }
  }
  @media (min-width: 868px) and (max-width: 991.98px) {
  }



  @media (max-width: 1934.98px) {
  .internship-section .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 100%;
    margin-bottom: 30px;
    height: 100px;
  }
  }
  
  .internship-section .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
  }
  .internship-section .timeline .timeline-text {
    padding: 11px;
    background: #ffffff;
    position: relative;
    border-right: 50px solid #dddddd;
    box-shadow: 0 0 60px hwb(203 49% 24% / 0.875)
  }
  .internship-section .timeline .timeline-item.center {
  left: -2%;
  padding-right: 0px;
  }
  
  .internship-section .timeline .timeline-item.right {
  left: 50px;
  }
  
  .internship-section .timeline .timeline-text {
  box-shadow: 2px 2px 6px 1px var(--skills-shadowcolor);
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 2px 2px 6px 1px var(--internship-shadowcolor);
  border-radius: 30px;
  }
  
  
  
  .internship-section .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 0%);
  }
  
  .internship-section .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  }
  
  .internship-section .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  
  }

/*-------------------------------------
    4.  Projects
--------------------------------------*/
#projects {
padding: 10px 0;
margin:0 0 5px;
}

#projects .sub-title {
text-align: center;
}

.project-list {
display: flex;
justify-content: space-between;
margin: 5px 15px 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.col1 {
flex-basis: 55%;
}

.col1 .title h4 {
text-align: center;
padding: 10px;
margin-bottom: 20px;
font-size: 25px;
}

.title {
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-weight: 700;

}

.title a {
color: #7f00ff;
background: white;
font-size: 20px;
border-radius: 50%;
padding: 10px;
margin-bottom: 20px;
}

.col1 p {
text-align: center;
font-size: 20px;
}

.col2 {
flex-basis: 40%;
position: relative;
overflow: hidden;
transform: height 0.5s;
margin: 10px 20px 0;
padding-bottom: 5px;
margin-bottom: 0px;
}
.col1{
margin-bottom: 0;
}
.col2 .image1 {
width: 100%;
height: 100%;
border-radius: 20px;
}

.layer {
width: 100%;
height: 0%;
background: linear-gradient(rgba(0,0,0,0.6), #b4854d);
border-radius: 20px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
transition: height 0.5s;
}

.layer a {
color: #b4854d;
background: white;
font-size: 15px;
border-radius: 50%;
padding: 10px;
margin-top: 10px;
}

.col2:hover .layer {
height: 100%;
}
#projects h2{
font-weight: 700;
font-size: 26px;
color: #173b6c;
text-align: center;
position: relative;
margin-top: 96px;
}

/*-------------------------------------
    5.  Acheivements
--------------------------------------*/
#experience1 {
  padding: 10px 0;
  margin:0 0 20px;
  
  }
  .internship-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vw;
  
  }
  .internship-section1 {
  display: center;
  justify-content: center; 
  align-items: center;
  margin: 20px;
  height: 70vh; 
  width:100%
  
  }
  .internship-section1 .education-item h2 {
  /* Apply styles for the section title */
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 40px;
  }
  @media (max-width: 767.98px) {
    .internship-section1 {
        display: center;
        justify-content: center;
        align-items: center;
        margin: 20px;
        height: 35vh;
        width: 100%;
    }
}
  .internship-section1 .timeline {
  position: relative;
  width: 100%;
  }
  @media (max-width: 1934.98px) {
  .internship-section1 .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 100%;
    margin-bottom: 30px;

  }

  .internship-section {
    display: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
  @media (max-width: 767.98px) {
    .internship-section {
        display: center;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }
}
.internship-section1 {
  display: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 85vh;
  width: 100%;
}
.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
}
  }
  
  .internship-section1 .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
  }
  .internship-section1 .timeline .timeline-item.center {
  left: 25%;
  padding-right: 0px;
  }
  
  .internship-section1 .timeline .timeline-item.right {
  left: 50px;
  }
  
  .internship-section1 .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 2px 2px 6px 1px var(--internship-shadowcolor);
  border-radius: 30px;
  text-align: center;
  }
  
  .internship-section .timeline .timeline-text {

    padding: 40px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 2px 2px 6px 1px var(--internship-shadowcolor);
    border-radius: 30px;
}
  
  .internship-section1 .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 0%);
  }
  
  .internship-section .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  }
  
/* Media query for mobile devices */
@media only screen and (min-width: 768px) {
    /* Adjust styles for screens larger than 768px */
    .right ul {
      flex-direction: row; 
    }
    
    .right ul li {
      margin: 0 10px; 
    }
  }

/* Media query for screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 767.98px) {
  element.style {
    display: block;
    max-width: 110px;
    height: auto;
    top: -30px;
    position: relative;
}}
@media only screen and (max-width: 767.98px) {
    /* Adjustments for smaller screens */
    .btn-solid-lg {
      background-color: hsl(32, 100%, 50%);
      color: #fff;
      padding: 10px 2px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 10px;
  }
  .btn-outline-lg {
    background-color: #007bff;
    color: #fff;
    padding: 10px 3px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
  }
    .firstSection {
        margin: 50px 0; /* Reduced margin */
        padding: 0 10px; /* Adjusted padding */
    }

    .firstSection .leftSection,
    .firstSection .rightSection {
      margin: 10px 0; /* Reduced margin */
    }
    .education-item h2 {
        font-size: 20px; /* Adjusted font size */
    }

    .education .timeline .timeline-item {
        width: calc(100% - 20px); /* Adjusted width for full width with padding */
        padding: 0 10px; /* Added padding */
        margin-bottom: 20px; /* Reduced margin */
    }
    .education .timeline .timeline-text {
        padding: 16px;
        margin-top: 50px; /* Adjusted padding */
    }

    .education .timeline .timeline-text h2 {
        font-size: 15px;
        margin-left: 0px;
        text-align: center; /* Adjusted font size */
    }

    .education .timeline .timeline-text h4 {
        font-size: 15px; /* Adjusted font size */
    }

    .education .timeline .timeline-text p {
        font-size: 14px;
        margin: 0 auto; /* Adjusted font size */
    }

    .internship-section .education-item h2 {
        font-size: 10px; /* Adjusted font size */
    }

    .education .timeline::after {
        left: 10px; /* Adjusted left position */
    }

    .education .timeline .timeline-item.left .timeline-text,
    .education .timeline .timeline-item.right .timeline-text {
        margin-left: 0; /* Removed left margin */
    }

    .education .timeline .timeline-item.left .timeline-date,
    .education .timeline .timeline-item.right .timeline-date {
        left: 0; /* Adjusted left position */
        text-align: center;
        top: -15px; /* Align text to the left */
    }

    .education .timeline .timeline-item.left::before,
    .education .timeline .timeline-item.right::before {
        left: 10px; /* Adjusted left position */
    }
    .container, .container-fluid {
        padding-left: 30px;         /* this education section  */
        padding-right: 10px;
    }
    #projects .col1 .title h4 {
        font-size: 20px; /* Adjusted font size */
    }

    #projects .col1 p {
        font-size: 16px; /* Adjusted font size */
    }
}
/* Adjustments for Internship Experience section on mobile devices */
@media only screen and (max-width: 767.98px) {
  .internship-section .education-item h2 {
      font-size: 23px;
  }
  .timeline-date{
     font-size: 10px;
     font-weight: 700;
  }
}
@media only screen and (max-width: 767.98px) {
    .internship-section {
        text-align: center; /* Center-align content */
    }
    .internship-section .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .internship-section .timeline .timeline-item {
        width: 100%; /* Adjusted width for full width */
        margin-bottom: 50px; /* Reduced margin */
        text-align: center; /* Center-align text */
        left: auto; /* Reset left alignment */
    }

    .internship-section .timeline .timeline-item.center {
        padding-right: 0px; /* Reset padding */
    }

    .internship-section .timeline .timeline-text {
        padding: 20px; /* Adjusted padding top */
    }

    .internship-section .timeline .timeline-text h2 {
        font-size: 10px; /* Adjusted font size */
        font-weight: 800;
    }

    .internship-section .timeline .timeline-text h4 {
        font-size: 14px; /* Adjusted font size */
    }

    .internship-section .timeline .timeline-text p {
        font-size: 9px; /* Adjusted font size */
        font-weight: 600;
    }
}
@media only screen and (max-width: 820px) {
  .education .timeline .timeline-text {
    height: 150px;
}
.education {
  height: 180vw;
}
.education .timeline .timeline-text h2 {
  text-align: center;
  font-size: 19px;
}
.responsive-img {
  top: 0px;
}
.education .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
  margin-top: -30px;
  margin-left: 0px;
}
.education .timeline .timeline-item:nth-child(2) .timeline-text h2 {
  font-size: 15px;
  margin-bottom: 10px;
}
.education .timeline .timeline-item:nth-child(2) .timeline-text p {
  margin: -10px;
  font-size: 10px;
}

.education .timeline .timeline-item:nth-child(2) .timeline-text .responsive-img  {
  margin-top: 25px;
}
.internship-section1 {
  height: 60vh;
  width: 100%;
}
.internship-section {
  display: center;
  justify-content: center;
  align-items: center;
  height: 145vh;
  width: 100%;
}
.right ul li {
  margin: 0px 1px;
}
}
@media only screen and (max-width: 767.98px) {
    .internship-section .timeline-text {
        text-align: center; /* Center-align text within the timeline-text div */
        margin-right: 45px;
        margin-left: 0px;
    }
    .internship-section1 .education-item h2 {
      font-weight: 700;
      font-size: 26px;
      color: #173b6c;
      text-align: center;
      margin-bottom: 20px;
      position: relative;
      margin-top: 0px;
      margin-bottom: 10px;
  }
  .education-item h2 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    margin-top: 0px;
}
#projects h2 {
  margin-top: 0px;
}
section {
    padding: 0px 0;
    overflow: hidden;
}
}
@media (max-width: 768px) {
  .about-content {
      width: 90%;
      font-size: 14px;
  }
}

@media (max-width: 1030px) {
  .about-content {
      position: static;
      padding: 0px;
      margin: 0px;
      padding: 30px;
      text-align: center;
  }
}
@media (max-width: 1030px) {
  .about-content {
      border: 3px solid rgb(194, 6, 109);
      border-radius: 0px;
  }
}
@media only screen and (max-width: 375px) and (max-height: 667px) {
  
}