
{% extends "basic.html" %} 
{% load static %}
{% block title %} About {% endblock title %} 

{% block body %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  intergrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p class="light-blue-text"></p>
      <p>{{ about_text }}</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'assets/img/profile-img1.jpg' %}" alt="" class="img-fluid rounded-circle">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Python Developer &amp; Backend Developer.</h3>
        <p class="fst-italic">
          As a fresher Python Developer, I am passionate about coding and eager to learn. I am proficient in Python programming language and have a basic understanding of backend development concepts. I am enthusiastic about contributing to meaningful projects and gaining real-world experience.Ability to translate UI designs into functional code with accuracy and efficiency.

          Ability to translate UI designs into functional code with accuracy and efficiency.


        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><strong>Birthday:</strong> <span>{{ profile_info.birthday }}</span></li>
              <li><strong>Phone:</strong> <span>{{ profile_info.phone }}</span></li>
              <li><strong>City:</strong> <span>{{ profile_info.city }}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><strong>Age:</strong> <span>{{ profile_info.age }}</span></li>
              <li><strong>Degree:</strong> <span>{{ profile_info.degree }}</span></li>
              <li><strong>Email:</strong> <span>{{ profile_info.email }}</span></li>
              <li><strong>Freelance:</strong> <span>{% if profile_info.freelance %}Available{% else %}Not Available{% endif %}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <div style="text-align: center; margin-top: 50px;">
    <a href="{% static 'assets/resume/Manjula Resume.docx' %}"   download="Manjula_s_Resume_(1)[1].pdf" class="btn btn-primary">
        <i class="fas fa-download"></i> Download Resume </a> 
    </div>
  </div>
</section>
{% endblock body %}

