
{% extends 'basic.html' %}
{% load static %}
{% block title %}
Manjula Portfolio
{% endblock title %}
{% block body %}
{% block stylecss %}
<link rel="stylesheet" href="/static/assets/css/home.css">
 {% endblock stylecss %}
<header>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/circle-progress@1.2.2/dist/circle-progress.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
<nav id="navbarr" class="navbarr" style="display: flex; justify-content: space-between; align-items: center; height: 60px; background-color:black;text-align:center; font-size:large;overflow: hidden; margin:0px 0px;padding: 40px 18px;border: 10px;">
  <div class="left" style="font-size: 1.5rem;color: hsl(32deg 88.68% 54.1%);">Manjula's Portfolio</div>
  <div class="right" style="margin:5px;display: inline">
      <ul class="nav-links"style="padding: 40px 20px; display: flex; margin: 130px;width: 100%;">        
          <li class="nav-item" style="list-style: none; margin: 10 20px;"><a href="#education" style="display: block;color: white; text-align: center; text-decoration: none;transition: background-color 0.3s ease;border-radius: 10px;padding: 10px; margin-left:210px" onmouseover="this.style.backgroundColor='#007bff'" onmouseout="this.style.backgroundColor='';">Education</a></li>
          <li class="nav-item" style="list-style: none; margin: 10 20px;"><a href="#skills" style="display: block;color: white; text-align: center; text-decoration: none;transition: background-color 0.3s ease;border-radius: 10px;padding: 10px; margin-left:10px " onmouseover="this.style.backgroundColor='#007bff'" onmouseout="this.style.backgroundColor=''">Skills</a></li>
          <li class="nav-item" style="list-style: none; margin: 10 20px;"><a href="#projects" style=" display: block;color: white; text-align: center; text-decoration: none;transition: background-color 0.3s ease;border-radius: 10px;padding: 10px; margin-left:10px " onmouseover="this.style.backgroundColor='#007bff'" onmouseout="this.style.backgroundColor=''">Projects</a></li>
          <li class="nav-item" style="list-style: none; margin: 10 20px;"><a href="#experience" style="display: block;color: white; text-align: center; text-decoration: none;transition: background-color 0.3s ease;border-radius: 10px;padding: 10px ; margin-left:10px;" onmouseover="this.style.backgroundColor='#007bff'" onmouseout="this.style.backgroundColor=''">Experience</a></li> 
          <li class="nav-item" style="list-style: none; margin: 10 20px;"><a href="#experience1" style=" display: block;color: white; text-align: center; text-decoration: none;transition: background-color 0.3s ease;border-radius: 10px;padding: 10px; margin-left:0px " onmouseover="this.style.backgroundColor='#007bff'" onmouseout="this.style.backgroundColor=''">Acheviements</a></li> 
          <li class="nav-item" style="list-style: none; margin: 10 20px;">
            <button id="darkModeToggle" style="background-color: black; color: white; border: none; padding: 10px; border-radius: 10px; cursor: pointer; margin-left: 10px;">
                <i class="fas fa-moon" id="darkModeIcon"></i>
            </button>
        </li>
      </ul>
  </div>
</nav>
<script>
  const darkModeToggle = document.getElementById('darkModeToggle');
  const darkModeIcon = document.getElementById('darkModeIcon');
  darkModeToggle.addEventListener('click', () => {
    document.body.classList.toggle('dark-mode');
    if (document.body.classList.contains('dark-mode')) {
      darkModeIcon.classList.remove('fa-moon');
      darkModeIcon.classList.add('fa-sun');
    } else {
      darkModeIcon.classList.remove('fa-sun');
      darkModeIcon.classList.add('fa-moon');
    }
  });
</script>
<div>
<style>
/* Light mode styles for the first section */
.firstSection {
  background-color: #ffffff;
  color: #000000;
}

.leftSection h4 {
  color: #007bff;
}

.leftSection h1 .color {
  color: #007bff;
}

.leftSection p {
  color: white;
}

.leftSection .typed {
  color: inherit;
}

/* Dark mode styles */
body.dark-mode .firstSection {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .leftSection h4 {
  color: #007bff;
}

body.dark-mode .leftSection h1 .color {
  color: #007bff;
}

body.dark-mode .leftSection p {
  color: #ffffff;
}

body.dark-mode .leftSection .typed {
  color: inherit;
}

body.dark-mode .btn-solid-lg,
body.dark-mode .btn-outline-lg {
  color: #ffffff;
}


body.dark-mode .rightSection img {
  filter: brightness(0.9);
}


  body {
    background-color: #ffffff;
    color: #000000;
  }

  .navbarr {
    background-color: black;
  }

  .nav-item a {
    color: white;
  }

  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }

  .dark-mode a {
    color: #ffffff;
  }

  .dark-mode .navbarr {
    background-color: #333333;
  }

  .dark-mode .nav-item a:hover {
    background-color: #0056b3;
  }

  /* Ensure p tags are styled correctly */
  .dark-mode p {
    color: black;
  }
  .dark-mode h4 {
    color: black;
  }
  .dark-mode #projects {
    color: black;
  }



  .projects {
    background-color: #ffffff;
    color: #000000;
  }
  
  .project-title span {
    background: linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%));
    background-clip: text;
    color: transparent;
  }
  
  /* Dark mode styles */
  body.dark-mode .projects {
    background-color: #121212;
    color: #ffffff;
  }
  

  
  body.dark-mode .projects .project-container {
    border-color: #333333;
  }
  
  body.dark-mode .projects{
    color: #007bff;
  }
  
  body.dark-mode .projects .project-link:hover {
    color: #0056b3;
  }
  
  body.dark-mode .projects .project-pic {
    filter: brightness(0.9);
  }

  @media only screen and (max-width: 768px) {
      .nav {
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
      }
      .right {
          margin-top: 50px;
      }
      .navbarr{
        margin: left 30px;;
        margin: right 20%;
      }
      
      .nav-links {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 20px 0;
    }

      .nav-item {
        margin: 10px 0;
    }
  }
    #navbarr.navbarr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: black;
      text-align: center;
      font-size: large;
      overflow: hidden;
      margin: 2px 0px;
      padding: 30px 60px;
      position: fixed;
      z-index: 1000;
      top: 0px;
    }
    @media screen and (max-width: 320px) {
      .btn-solid-lg {
        background-color: hsl(32, 100%, 50%);
        color: #fff;
        padding: 15px 10px;
        border-radius: 5px;
    }
    .btn-outline-lg {
      background-color: #007bff;
      color: #fff;
      padding: 15px 10px;
      border-radius: 5px;
  }
    }
    @media only screen and (max-width: 768px) {
      .right {
          margin-top: 0px 0px;

      }
      .left{
        margin-top: 0px;
      }
  }
  .projects {
    background-color:var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 100%;
    height: 150px;
  }
  
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  .project-container p {
    padding: 0.4rem;
    font-size: smaller;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.rem;
    padding: 1rem;
  }
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
    color: #b30773;
  }
  a.project-link{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #6b90e6;
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  :root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  #projects h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #173b6c;
    text-align: center;
    position: relative;
    margin-top: 96px;
}
  .projects .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
@media (max-width: 1934.98px) {
  .projects .projects-container {
      display: grid !important; 
  }
}
@media (max-width: 669.98px) {
  .projects .projects-container {
      display: inline !important;
  }
}

</style>
</header>
<!-- ======= Main Section ======= -->
  <main>
  <!-- About Section -->
  <section class="firstSection">
    <div class="leftSection" id="about-content">
      <h4 style="color: #007bff;">Hello,</h4>
      <h1><span class="small-text">My Name is</span> <span class="color" style="color: #fd13e1;">Manjula</span></h1>
      <p>I'm passionate <span class="typed" style="color: #ff8800;" data-typed-items="Python Developer,Backend Developer,Full Stack Developer,Frontend Developer"></span></p>
      <a class="btn-solid-lg page-scroll" href="/about/"><i class="fas fa-user"></i> Discover</a>
      <a class="btn-outline-lg page-scroll" href="/contact/"><i class="fas fa-envelope"></i> Contact Me</a>
      <a class="btn-solid-lg page-scroll" href="static\assets\resume\Manjula_resume.pdf" download>
        <i class="fas fa-file-alt"></i> Download CV
      </a>
    </div>
    </div>
    <div class="rightSection"  style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
      <img src="{% static 'assets/img/profile-img1.jpg' %}" alt="" class="img-fluid rounded-circle">
    </div>
  </section>
  {% for message in messages %}    
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <hr style="border-color: #d27e1e; border-radius: 10px; height: 1px;">
  <!-- Education Section -->
  <section class="education" id="education">
    <div class="container">
        <div class="education-item" data-wow-delay="0.1s">
            <h2>MY <span style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;">EDUCATION</span></h2>
        </div>
        <div class="timeline">
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div style="float: right; margin-right: 20px;">
                      <img src="/static/assets/img/clg logo.jpg" alt="College Logo" class="responsive-img">
                    </div>
                    <div>
                        <div class="timeline-date">2018 - 2022</div>
                        <div class="h2-tag">
                            <h2>BACHELOR'S DEGREE (BSC)</h2>
                        </div>
                        <h4>Government Degree College for Women's</h4>
                        <p>
                            Nalgonda, Telangana.
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                  <div style="float: right; margin-right: 20px;">
                    <img src="/static/assets/img/TSBIE_Logo.jpg" alt="College Logo" style="display: block; max-width: 110px; height: auto; top: -30px; position: relative;" class="responsive-img">
                </div>
                    <div class="timeline-date">2016 - 2018</div>
                    <div class="h2-tag">
                      <h2>Board Of Intermediate</h2>
                    </div>
                    <h4>Government Junior Girls College</h4>
                    <p>
                        Devarakonda, Nalgonda, Telangana.
                    </p>
                </div>
            </div>
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                  <div style="float: right; margin-right: 20px;">
                    <img src="/static/assets/img/ts logo.jpg"  alt="College Logo" class="responsive-img">
                </div>
                    <div class="timeline-date">2015 - 2016</div>
                    <div class="h2-tag">
                      <h2>Board Of Secondary School</h2>
                    </div>
                    <h4>Z.P. Girls High School</h4>
                    <p>
                      Devarakonda, Nalgonda, Telangana.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Education End -->
     
<!-- skills Section -->
<section id="skills" class="skills">
  <div class="skill-content">
    <div class="section-heading text-center">
      <h2 style="font-size: 2.5rem;font-weight: 700;">My <span style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;">Skills</span></h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-skill-content">
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent"><i class="fab fa-python icon"></i>Python Programming</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>
            
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fab fa-cogs icon"></i>Django Framework</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>

            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fas fa-file-alt icon"></i>Django Rest API</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>
            
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fas fa-database icon"></i>MySQL</span>

              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                </div>
                <h3>85%</h3>	
              </div>
            </div>

            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fas fa-file-alt icon"></i>MS Office</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-skill-content">
            
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fab fa-html5 icon"></i>HTML5</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>
            
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fab fa-css3 icon"></i>CSS3</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                </div>
                <h3>85%</h3>	
              </div>
            </div>
            
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fab fa-cogs icon"></i>JAVASCRIPT</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>
            
            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fas fa-cogs icon"></i>Communication</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>

            <div class="barWrapper">
              <span class="progressText" style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;"><i class="fas fa-cogs icon"></i>Problem Solving</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <h3>90%</h3>	
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var dataToggleTooTip = $('[data-toggle="tooltip"]');
    var progressBar = $(".progress-bar");
    if (progressBar.length) {
      progressBar.appear(function () {
        dataToggleTooTip.tooltip({
          trigger: 'manual'
        }).tooltip('show');
        progressBar.each(function () {
          var each_bar_width = $(this).attr('aria-valuenow');
          $(this).width(each_bar_width + '%');
        });
      });
    }
  </script>
</section>
  <!--skills end -->

<!-- Projects Section -->
<!-- <section id="projects" class="projects-section">
  <h2 class="sub-title" style="color: hwb(215 7% 67%); position: relative;font-size: 2.5rem;font-weight: 700;">MY 
      <span style="background: linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%));background-clip: text;color: transparent;">PROJECTS</span>
  </h2>
  <hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
<div class="project-list" style="padding: 0px;">
  <div class="col1">
      <div class="title">
          <h4 style="color: #e80f0f;">1. SKIN-SAVIOUR</h4>
          <a href="https://radiat-glow-website.netlify.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
      <p> It is a website which offers an innovative platform where users embark on a discovery of their skin's unique needs through an engaging quiz experience.</p>
  </div>
  <div class="col2">
      <img src="{% static 'assets/img/Skin-Saviour.png' %}" alt="No-img" class="image1">
      <div class="layer">
          <h4>Click on the below link to see Overview of the project.</h4>
          <a href="https://radiat-glow-website.netlify.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
  </div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
<div class="project-list" style="padding: 0px;">
  <div class="col1">
      <div class="title">
          <h4 style="color: hsl(228, 100%, 50%);"> 2. EMPLOYEE MANAGEMENT SYSTEM</h4>
          <a href="https://office-employee-management-system-8kq1.onrender.com/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
      <p>Designed and implemented core functionalities allowing users to manage employee records, including adding, removing, and filtering employees before authentication.</p>
  </div>
  <div class="col2">
      <img src="{% static 'assets/img/emp-management.png' %}" alt="No-img" class="image1">
      <div class="layer">
          <h4>Click on the below link to see Overview of the project.</h4>
          <a href="https://office-employee-management-system-8kq1.onrender.com/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
  </div>
</div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
<div class="project-list">
  <div class="col1">
      <div class="title">
          <h4 style="color: hsl(109, 100%, 50%);">3. MR RESTAURANT WEBSITE</h4>
          <a href="https://restaurant-website-psi-ten.vercel.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
      <p>1. Designed to showcase MR Restaurant's offerings and facilitate customer engagement through a user-friendly interface.</p>
      <p>2. A dynamic website featuring sections for navigation, specials, testimonials, menu, contact, and social media integration.</p>
  </div>
  <div class="col2">
      <img src="{% static 'assets/img/Restaurant_website.png' %}" alt="No-img" class="image1">
      <div class="layer">
          <h4>Click on the below link to see Overview of the project.</h4>
          <a href="https://restaurant-website-psi-ten.vercel.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
  </div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
<div class="project-list">
  <div class="col1">
      <div class="title">
          <h4 style="color: hwb(319 8% 20%);">4. TO-DO APP</h4>
          <a href="https://manjulajatavath.github.io/TO-DO-App/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
      <p>1. The Manju Study Planner is a web application designed to help users create and manage their study schedules. </p>
      <p>2. It features user registration, timetable setup, and display of saved data...</p>
  </div>
  <div class="col2">
      <img src="{% static 'assets/img/to-do app.png' %}" alt="No-img" class="image1">
      <div class="layer">
          <h4>Click on the below link to see Overview of the project.</h4>
          <a href="manjulajatavath.github.io/TO-DO-App/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
  </div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
<div class="project-list">
  <div class="col1">
      <div class="title">
          <h4 style="color: #f3b008;">5. VENDER-MANAGEMENT-SYSTEM</h4>
          <a href="https://github.com/ManjulaJatavath/Vendor-Management-system" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
      <p>1. The Vendor Management System streamlines managing and coordinating with vendors, featuring registration, tracking, and performance evaluation functionalities.. </p>
  </div>
  <div class="col2">
      <img src="{% static 'assets/img/Vendor_managment.png'%}" alt="No-img" class="image1">
      <div class="layer">
          <h4>Click on the below link to see Overview of the project.</h4>
          <a href="https://github.com/ManjulaJatavath/Vendor-Management-system" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
  </div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
</div>
</section> -->

<!--  -->
<section class="projects" id="projects">
  <h2 class="project-title"   style="font-size: 2.5rem;font-weight: 700;">MY <span style="background:linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text;color:transparent ;">PROJECTS</span></h2>
  <div class="projects-container">
    <div class="project-container project-card">
      <h3 class="project-title">SKIN-SAVIOUR</h3>
      <img
        src="static\assets\img\Skin-Saviour.png"
        alt="expense-tracker"
        loading="lazy"
        class="project-pic"
      />
      <p class="project-details">
        It's a website which offers an innovative platform where users embark on a discovery of their skin's unique needs through an engaging quiz experience.
      </p>
      <a href="https://skin-saviour.netlify.app" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <h3 class="project-title"> MR.RESTAURANT</h3>
      <img
        src="static\assets\img\restaurant.png"
        alt="netflic-clone"
        loading="lazy"
        class="project-pic"
      />
      <p class="project-details">
        Designed to showcase MR Restaurant's offerings and facilitate customer engagement through a user-friendly interface.
      </p>
      <a href="https://restaurant-website-psi-ten.vercel.app/" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <h3 class="project-title">EMP MANAGEMENT</h3>
      <img
        src="static\assets\img\emp-management.png"
        alt="greeny-earth"
        loading="lazy"
        class="project-pic"
      />
      <p class="project-details">
        Engineered core functionalities for managing employee records, enabling CRUD operations with pre-authentication employee filtering.
      </p>
      <a href="https://office-employee-management-system-8kq1.onrender.com/" target="_blank" class="project-link">Check it Out</a>
    </div>

    <div class="project-container project-card">
      <h3 class="project-title">VENDOR-MANAGEMENT</h3>
      <img
        src="static\assets\img\Vendor_managment.png"
        alt="greeny-earth"
        loading="lazy"
        class="project-pic"
      />
      <p class="project-details">
        The Vendor Management System streamlines managing and coordinating with vendors, tracking, and performance evaluation functionalities..
      </p>
      <a href="https://github.com/ManjulaJatavath/Vendor-Management-system" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <h3 class="project-title">STUDENT MANAGEMENT</h3>
      <img
        src="static\assets\img\student.png"
        alt="greeny-earth"
        loading="lazy"
        class="project-pic"
      />
      <p class="project-details">
        Implemented Django-based CRUD operations with Django, Python, HTML and CSS for data manipulation.
      </p>
      <a href="https://github.com/ManjulaJatavath/Django-Student-management-project" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <h3 class="project-title">TO-DO APP</h3>
      <img
        src="static\assets\img\to-do app.png"
        alt="greeny-earth"
        loading="lazy"
        class="project-pic"
      />
      <p class="project-details">
        The Manju Study Planner is a web application designed to help users create and manage their study schedules. 
      </p>
      <a href="https://manjulajatavath.github.io/TO-DO-App/" target="_blank" class="project-link">Check it Out</a>
    </div>
  </div>
</section>

<!-- Internship Experience Section -->
<section id="experience" class="internship-section" style="text-align: center; width:100%">
  <div class="container">
    <div class="education-item" data-wow-delay="0.1s">
      <h2 style="font-size: 2.5rem; font-weight: 700; background: linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text; color: transparent;">
        INTERNSHIP EXPERIENCE
      </h2>
    </div>
    <div class="timeline" style="display: flex; justify-content: space-around; flex-wrap: wrap; align-items:center">
      <!-- First Internship -->
      <div class="timeline-item center wow slideInCenter" data-wow-delay="3.1s" style="flex: 1; min-width: 300px; margin: 10px;">
        <div class="timeline-text">
          <div class="timeline-date" style="text-align: center;">Dec-2023 - March-2024</div>
          <h2 style="color: hsl(245, 100%, 50%);">Backend (Python) Intern</h2>
          <h4 style="color: hsl(322, 86%, 50%);">BAOIAM INNOVATION PVT LTD</h4>
          <img src="/static/assets/img/baoiam.jpg" alt="BAOIAM Logo" style="width: 100px; height: 104px; margin: 10px 0;">
          <!-- <p>1. Work on live projects under the guidance of experienced mentors to gain practical Knowledge and skills required to excel in a professional environment.</p>
          <p>2. Analyzed project requirements and contributed to the design and development of scalable and efficient backend systems using Python, Django, and relevant technologies.</p><br>
          <p>3. Participated in code reviews and debugging sessions, identifying and resolving technical issues to ensure the reliability and robustness of backend applications.</p> -->
        </div>
      </div>
      <!-- Second Internship -->
      <div class="timeline-item center wow slideInCenter" data-wow-delay="3.3s" style="flex: 1; min-width: 300px; margin: 10px;">
        <div class="timeline-text">
          <div class="timeline-date" style="text-align: center;">March-2024 - Jun-2024</div>
          <h2 style="color: hsl(245, 100%, 50%);">Django Junior Developer (intern)</h2>
          <h4 style="color: hsl(322, 86%, 50%);">WORKBEES TECHNOLOGIES</h4>
            <img src="/static/assets/img/workbees.jpg" alt="Workbees Logo" style="width: 100px; height: auto; margin: -1px 0;">
          <!-- <p>1. Developed and maintained user-friendly web applications using Django Rest Framework, ensuring high performance and responsiveness.</p>
          <p>2. Collaborated with UI/UX designers and React Developers to implement interactive and visually appealing front-end interfaces.</p>
          <p>3. Conducted thorough testing and debugging of code to ensure optimal functionality across different browsers and devices.</p> -->
        </div>
      </div>
      <div class="timeline-item center wow slideInCenter" data-wow-delay="3.3s" style="flex: 1; min-width: 300px; margin: 10px;">
        <div class="timeline-text">
          <div class="timeline-date" style="text-align: center;">July-2024 - Present</div>
          <h2 style="color: hsl(245, 100%, 50%);">Python Full Stack Developer</h2>
          <h4 style="color: hsl(322, 86%, 50%);">SAT n Paper</h4>
            <img src="static/assets/img/sat n paper.jpg" alt="Workbees Logo" style="width: 100px; height: 124px; margin: 1px ;">
          <!-- <p>1. Developed and maintained user-friendly web applications using Django Rest Framework, ensuring high performance and responsiveness.</p>
          <p>2. Collaborated with UI/UX designers and React Developers to implement interactive and visually appealing front-end interfaces.</p>
          <p>3. Conducted thorough testing and debugging of code to ensure optimal functionality across different browsers and devices.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Acheviements Section -->
  <section id="experience1" class="internship-section1" style="text-align: center;">
    <div class="container1">
      <div class="education-item" data-wow-delay="0.1s">
        <h2 style="font-size: 2.5rem; font-weight: 700; background: linear-gradient(to bottom, hsl(311, 98%, 35%) 40%, hsl(100, 55%, 32%) 60%, hsl(31, 88%, 44%)); background-clip: text; color: transparent;">
          ACHIEVEMENTS
        </h2>
      </div>
      <div class="timeline">
        <div class="timeline-item center wow slideInCenter" data-wow-delay="0.1s">
          <div class="timeline-text">
              <div class="timeline-date" style="text-align: center;">
                <a href="https://www.hackerrank.com/profile/jatavathmanjula3" target="_blank">
                <img src="/static/assets/img/hackerrank.jpg" alt="HackerRank Logo" style="width: 100px; height: auto; margin: 12px 0;">
              </a>
              </div>
            <h2 style="color: hsl(154, 100%, 40%);">HackerRank</h2>
            <h4 style="color: hsl(700, 100%, 30%);">4th Star in Problem Solving</h4> 
          </div>
        </div>
      </div>
      <div class="timeline" style="">
        <div class="timeline-item center wow slideInCenter" data-wow-delay="0.1s">
          <div class="timeline-text">
              <div class="timeline-date" style="text-align: center;">
                <a href="https://www.codechef.com/users/jatavathmanju" target="_blank">
                <img src="/static/assets/img/codechef-startuptalky.jpg" alt="HackerRank Logo" style="width: 100px; height: auto; margin: 12px 0;">
              </a>
              </div>
            <h2 style="color: hsl(154, 100%, 40%);">Code Chef</h2>
            <h4 style="color: hsl(700, 100%, 30%);">Gold Badge in Problem Solving</h4> 
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- End Main Section -->
</main>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

{% endblock body %}

{% block scripts %}
{% endblock scripts %}