{% comment %} 
<div id="projects">
        <div class="container">
            <div class="sub-title">Projects</div>
            <div class="project-list">
                <div class="col1">
                    <div class="title">
                        <h4>SKIN-SAVIOUR</h4>
                        <a href="https://radiat-glow-website.netlify.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <p>It is a website which offers an innovative platform where users embark on a discovery of their skin's unique needs through an engaging quiz experience.  
                    </p>
                </div>
                <div class="col2">
                    <img src="images/project1.png" alt="" class="image1">
                    <div class="layer">
                        <h4>Click on the below link to see Overview of the project.</h4>
                        <a href="https://radiat-glow-website.netlify.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                         </div>
                    </div>
            </div>
        </div>
    </div>
 {% endcomment %}

 {% comment %} 
 <section id="projects" class="projects-section">
  <div class="container">
    <div class="row">
      <div class="projects-item">
        <h1>PROJECTS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="project-item">
          <img src="project1.jpg" alt="Project 1">
          <div class="overlay">
            <h4>Project 1</h4>
            <p>Description of Project 1</p>
            <a href="project1.html">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="project-item">
          <img src="project2.jpg" alt="Project 2">
          <div class="overlay">
            <h4>Project 2</h4>
            <p>Description of Project 2</p>
            <a href="project2.html">View Details</a>
          </div>
        </div>
      </div>
      <!-- Add more project items as needed -->
      <div class="col-lg-4 col-md-6">
        <div class="project-item">
          <img src="project3.jpg" alt="Project 3">
          <div class="overlay">
            <h4>Project 3</h4>
            <p>Description of Project 3</p>
            <a href="project3.html">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 {% endcomment %}

 {% comment %} 
 .projects-item h1 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c; /* Adjust this color as needed */
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.projects-item h1::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* Adjust this width as needed */
  height: 2px;
  background-color: #1594c7; 
}
.projects-section{
  height: 50vh;
}
  {% endcomment %}
  #projects {
    padding: 100px 0;
  }
  
  .sub-title {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    margin-bottom: 100px;
    position: relative; /* Add position relative for the underline effect */
  }
  
  .sub-title::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px; /* Adjust this width as needed */
    height: 2px;
    background-color: #1594c7;
  }
  
  .project-list {
    display: flex;
    flex-direction: column; /* Display projects in a column */
    align-items: center; /* Center projects horizontally */
    margin: 100px 0;
  }
  
  .project {
    margin-bottom: 50px; /* Adjust margin between projects */
  }
  
  .title {
    text-align: center; /* Center project titles */
    margin-bottom: 15px;
  }
  
  .title h4 {
    font-size: 30px;
  }
  
  .title a {
    color: #7f00ff;
    background: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
  }
  
  .project p {
    text-align: center; /* Center project descriptions */
    font-size: 50px;
  }
  .col1 {
    width: 50%; /* Set width to 100% to ensure full width */
    position: relative;
    overflow: hidden;
  }
  .col1{
    flex-basis: 55%;
  }
  
  .col2 {
    width: 50%; /* Set width to 100% to ensure full width */
    position: relative;
    overflow: hidden;
  }
  
  .col2 .image1 {
    width: 100%;
    border-radius: 20px;
  }
  
  .layer {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #b4854d);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    transition: height 0.5s;
  }
  
  .layer a {
    color: #b4854d;
    background: white;
    font-size: 15px;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
  }
  
  .col2:hover .layer {
    height: 50%;
  }


  <section id="projects" class="projects-section">
    <h2 class="sub-title" style="color: hwb(215 7% 67%); position: relative;">PROJECTS
        <span style="position: absolute; bottom: -2px; left: 50%; transform: translateX(-50%); width: 100px; height: 2px; background-color: #1594c7;"></span>
    </h2>
    <hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
  <div class="project-list">
    <div class="col1">
        <div class="title">
            <h4 style="color: rgb(255, 157, 0);">1. SKIN-SAVIOUR</h4>
            <a href="https://radiat-glow-website.netlify.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        <p>It is a website which offers an innovative platform where users embark on a discovery of their skin's unique needs through an engaging quiz experience.</p>
    </div>
    <div class="col2">
        <img src="{% static 'assets/img/Skin-Saviour.png' %}" alt="No-img" class="image1">
        <div class="layer">
            <h4>Click on the below link to see Overview of the project.</h4>
            <a href="https://radiat-glow-website.netlify.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
    </div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
  <div class="project-list">
    <div class="col1">
        <div class="title">
            <h4 style="color: rgb(255, 157, 0);"> 2. EMPLOYEE MANAGEMENT SYSTEM</h4>
            <a href="https://office-employee-management-system-8kq1.onrender.com/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        <p>Designed and implemented core functionalities allowing users to manage employee records, including adding, removing, and filtering employees before authentication.</p>
    </div>
    <div class="col2">
        <img src="{% static 'assets/img/emp-management.png' %}" alt="No-img" class="image1">
        <div class="layer">
            <h4>Click on the below link to see Overview of the project.</h4>
            <a href="https://office-employee-management-system-8kq1.onrender.com/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
    </div>
</div>
<hr style="border-color: #1e6cd2; border-radius: 10px; height: 1px;">
<div class="project-list">
    <div class="col1">
        <div class="title">
            <h4 style="color: rgb(255, 157, 0);">3. MR RESTAURANT WEBSITE</h4>
            <a href="https://restaurant-website-psi-ten.vercel.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        <p>1. Designed to showcase MR Restaurant's offerings and facilitate customer engagement through a user-friendly interface.</p>
        <p>2. A dynamic website featuring sections for navigation, specials, testimonials, menu, contact, and social media integration.</p>
    </div>
    <div class="col2">
        <img src="{% static 'assets/img/Restaurant_website.png' %}" alt="No-img" class="image1">
        <div class="layer">
            <h4>Click on the below link to see Overview of the project.</h4>
            <a href="https://restaurant-website-psi-ten.vercel.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
    </div>
</div>

</section>

#projects {
  padding: 40px 0;
  margin:0 0 20px;
}

#projects .sub-title {
  text-align: center;
}

.project-list {
  display: flex;
  justify-content: space-between;
  margin: 50px 30px 100px;

}

.col1 {
  flex-basis: 55%;
}

.col1 .title h4 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #7f00ff;
  background: white;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 40px;
}

.col1 p {
  text-align: center;
  font-size: 20px;
}

.col2 {
  flex-basis: 40%;
  position: relative;
  overflow: hidden;
  transform: height 0.5s;
  margin: 10px 20px 0;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.col1{
  margin-bottom: 0;
}
.col2 .image1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6), #b4854d);
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer a {
  color: #b4854d;
  background: white;
  font-size: 15px;
  border-radius: 50%;
  padding: 10px;
  margin-top: 20px;
}

.col2:hover .layer {
  height: 100%;
}