{% extends "basic.html" %} 
{% block title %} Sign-up {% endblock title %} 

{% block stylecss %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  intergrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock stylecss %} 

{% block body %}
<div class="container mt-4 p-2">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="text-white bg-dark text-center p-3">Sign Up Here</h3>
      {% for message in messages %}    
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <div class="card p-2">
        <form action="/auth/signup/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> Email</span>
            </h5>
            <input type="email" class="form-control mb-3" name="email" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="fas fa-key"></i> Password </span>
            </h5>
            <input type="password" class="form-control mb-3" name="pass1" required />
          </div>

          <div class="form-group">
            <h5>
              <span><i class="fas fa-lock"></i>Confirm Password </span>
            </h5>
            <input type="password" class="form-control mb-3" name="pass2" required />
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark">SignUp</button>
          </div>
        </form>
      </div>
      <br>
      Already a User ?<a href="/auth/login/">Login</a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock body %}
