/* home.css */

 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 20px;
  }

.skill {
  margin-bottom: 40px;
}
.skill h3 {
  margin-bottom: 5px;
}
.skill p {
  margin-bottom: 10px;
}
.education, .experience {
  margin-bottom: 40px;
}
.education h3, .experience h3 {
  margin-bottom: 10px;
}
.education p, .experience p {
  margin-bottom: 5px;
}
.projects {
  margin-top: 40px;
}
.projects h2 {
  margin-bottom: 20px;
}
.project {
  margin-bottom: 30px;
}
.project h3 {
  margin-bottom: 10px;
}
.project p {
  margin-bottom: 5px;
}
.project-link {
  color: #007bff;
  text-decoration: none;
}
.project-link:hover {
  text-decoration: underline;
}
.experience {
  margin-top: 40px;
}